@import "tailwindcss";

body {
  background: #1c2739;
  color: white;
}

.logo-bg {
  background: #10b981;
}

.signin {
  color: #2fd38c;
}

.signin:hover {
  color: #10b981;
  text-shadow: #10b981 0px 0px 5px;
  transition: color 0.3s ease;
}

.avail {
  background-color: #133d40;
  color: #2fd38c;
}

.yourride {
  color: #2fd38c;
}

.connect {
  color: #8d9baf;
}

.getstarted {
  background: #10b981;
}

.getstarted:hover {
  background: #2fd38c;
  transition: background 0.3s ease;
}

.learnmore {
  background: #323f4e;
}

.learnmore:hover {
  background: #323f4e91;
}

.howitworks {
  background: #1d283a;
}

.icon {
  padding: 10px;
  background-color: #1a4648;
  color: #2fb488;
  border-radius: 10px;
  margin-bottom: 15px;
}

.how {
  border-color: #334155;
}

.desc {
  color: #72869b;
}