@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
}

input, select {
  border: none;
  border-radius: 10px;
  padding: 5px 12px;
  outline: none;
}

input::placeholder {
  font-size: smaller;
  font-weight: lighter;
}

.history-time {
  font-size: small;
}

.history-time p {
  cursor: pointer;
  padding : 5px 10px;
  border-radius: 5px;
}

.history-time p:hover {
  background-color: cadetblue;
  color: white;
  transition: 0.2s;
}

.history-time p:active {
  background-color: cadetblue;
  color: white;
}