@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input {
  border: 1px solid #00000076;
  border-radius: 10px;
  padding: 5px 12px;
  width: 400px;
  outline: none;
  margin-bottom: 5px;
}

input::placeholder {
  font-size: smaller;
  font-weight: lighter;
}