@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
}

input, select {
  border: none;
  border-radius: 10px;
  padding: 5px 12px;
  outline: none;
}

input::placeholder {
  font-size: smaller;
  font-weight: lighter;
}